spring:
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
  h2:
    console:
      enabled: true
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 104..
            client-secret: is it visible?222
            scope:
              - email
              - profileã…Ž
jwt:
  issuer: ajufresh@gmail.com
  secret_key: study-springboot
